.carousel {
  padding: 81px 0 81px 0;

  &__inner {
    position: relative;
    background-color: white;
    margin: 0 auto;
    max-width: 750px;
    width: 100%;
  }

  .slick-prev, .slick-next {
    position: absolute;
    top: 50%;
    left: -66px;
    transform: translateY(-50%);
    background-color: white;
    z-index: 999;

    img {
      width: 31px;
      height: 50px;
    }
  }

  .slick-next {
    right: -66px;
    left: auto;
  }

  .slick-dots {
    display: flex;
    align-items: center;
    margin: 0 5px 0 0;
    justify-content: center;
    font-size: 12px;

    & button {
      margin: 0 5px 0 0;
    }
  }

  .slick-active {
    font-size: 12px;
    & button{
      font-weight: 900;
    }

  }
}
