@import "src/scss/variables";
@import "../mixins";

.consultation_bg {
  background: url("../../assets/image/consultation-bg.png") center (center/cover) no-repeat;
  min-height: 680px;
  padding: 100px 0 108px 0;
}

.consultation-info {

  &__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    color: white;
    text-transform: uppercase;
  }

  &__text {
    margin: 6px 0 36px 0;
    color: white;
    font-weight: 500;
    line-height: 30px;
    font-size: 20px;
  }
}

