@import "src/scss/variables";
@import "../mixins";

.form {
  display: flex;
  flex-direction: column;

  .error {
    color: red;
    border: 1px solid red;
  }

  label.error {
    border: none;
  }

  input.error {
    color: black
  }

  &_input {
    width: 303px;
    height: 58px;
    border-radius: 5px;
    font-size: 18px;
    margin-bottom: 12px;
    padding: 0 0 0 20px;
    font-weight: 300;
    line-height: 66px;
    color: black;
  }

  &_btn {
    width: 303px;
    display: block;
    height: 58px;
    margin-top: 17px;
    @include btn_main;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
  }

}